
.ProductItem {
    display: flex;
    margin: $sp-1;
    margin-bottom: $sp-2;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    .item {
        margin: $sp-1;
    }

    &__name {
        flex: 5 1 auto;
    }

    &__qty {
        flex: 1 1 auto;
        width: 70px;
    }

    &__unit {
        flex: 1 1 auto;
    }

    &__actions {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
        & button:first-child {
            margin-right: $sp-2;
        }
    }
            
    @media (max-width: $breakpoint) {
        &__name {
            flex: 5 1 100%;
        }
        &__qty {
            flex: 1 1 30%;
        }
    
        &__unit {
            flex: 1 1 30%;
        }
    }
}

.disappearence {
    animation: removeAnimation 200ms;
    
    @keyframes removeAnimation {
        from { opacity: 1; };
        to { opacity: 0; };
    }
}

.appearance {
    animation: appearanceAnimation 400ms;
    
    @keyframes appearanceAnimation {
        from { opacity: 0; };
        to { opacity: 1; };
    }
}