$background-color: rgb(255, 255, 255);

$primary-color: #FEB95F;
$secondary-color: #C2095A;
$delete-color: #F71735;
$select-color: #79b828;
$disabled-color: #aaa;

$font-color: #000;
$light-color: #fff;
$dark-color: #000;

$radius: 10px;

$sp-1: .5rem;
$sp-2: 1rem;
$sp-3: 1.7rem;

$container-width: 1170px;

$breakpoint: 720px;

$shadow: 0px 0px 2px black;
