$background-color: rgb(255, 255, 255);

$primary-color: #415A77;
$delete-color: #9E2A2B;
$select-color: #79b828;
$disabled-color: #aaa;

$font-color: #000;
$light-color: #fff;
$dark-color: #000;

$radius: 5px;

$sp-1: .5rem;
$sp-2: 1rem;
$sp-3: 1.7rem;

$container-width: 1170px;

$breakpoint: 720px;

$shadow: 2px 2px 2px black;