@use "./variables.scss" as *;
@use "./global.scss" as *;


.root {
    @extend .btn;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: $sp-2;

    .icon {
        display: none;
        padding-top: 5px;
    }

    @media (max-width: $breakpoint) {
        .text {
            display: none;
        }
            
        .icon {
            display: block;
        }
    }
}