@use './variables.scss' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: $background-color;
    color: $font-color;
}

svg {
    width: 24px;
    height: 24px;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
}

.icon {
    width: 32px;
    height: 32px;
}
