@use "./variables.scss" as *;
@use "./global.scss" as *;

.root {
    box-shadow: 0 0 5px #000;
    width: 100%;
    padding: 0 2rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.headerContainer {
    @extend .container;
    justify-content: space-between;
    height: 64px;
    display: flex;
    align-items: center;
}