@use '../styles/variables.scss' as *;


.item {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background: $primary-color;
    color: #1c1c1c;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 2rem;
}

.name, .qte, .deleteBtn, .unit {
    padding: 0.2rem;
    margin: 0 0.5rem;
}

.qte, .unit, .deleteBtn {
    flex: 0;
}

.name {
    flex: 1;
    font-size: 1.5rem;
    border: none;
    background: transparent;

    &:focus {
        background: white;
    }
}

.unit {
    @extend %base-input;
    min-width: 70px;

    option {
        text-align: center;
    }
}

.qte {
    @extend %base-input;
    min-width: 100px;
    padding: 0.5rem 1rem;
}

.deleteBtn {
    @extend %base-input;
    padding: 0.5rem 1rem;
    background: $delete-color;
}