@use '../styles/variables.scss' as *;


.item {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background: $primary-color;
    color: #1c1c1c;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 2rem;
    flex-wrap: wrap;

    input, select {
        background: #fff;
    }
    
    input:disabled, select:disabled {
        background: #fff;
        opacity: .3;
    }

    input.name {
        background: transparent;
    }
    
    input.name:focus {
        background: white;
    }
            
    @media (max-width: $breakpoint) {
        margin-bottom: 1rem;
        padding: .5rem;
        justify-content: center;
    }
}

.name, .qte, .deleteBtn, .unit {
    padding: 0.2rem;
    margin: 0 0.5rem;
}

.qte, .unit, .deleteBtn, .isBought {
    flex: 0;
    order: 3;
}

.name {
    flex: 1;
    font-size: 1.5rem;
    border: none;
    order: 1;

    @media (max-width: $breakpoint) {
        flex: 1 0 100%;
    }
}

.unit {
    @extend %base-input;
    min-width: 70px;

    option {
        text-align: center;
    }
}

.qte {
    @extend %base-input;
    min-width: 100px;
    padding: 0.5rem 1rem;
}

.deleteBtn {
    @extend %base-input;
    padding: 0.5rem 1rem;
    background: $delete-color;

    &:hover {
        cursor: pointer;
        background: darken($delete-color, 10);
    }
}

.isBought {
    button {
        background: none;
        border: none;
    }
    svg {
        width: 48px;
        height: 48px;
        fill: $secondary-color;
    }

        
    @media (max-width: $breakpoint) {
        order: 2;
        svg {
            width: 24px;
            height: 24px;
        }
    }
}
