$background-color: #fff;
$primary-color: #EEF0F2;
$secondary-color: #29BF12;
$delete-color: #F21B3F;
$font-color: #000;
$container-width: 1170px;

%base-input {
    border-radius: 1rem;
    border: none;
    background: #fff;
}