@import 'tailwindcss';

@utility container {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  margin-right: auto;
  margin-left: auto;
}

a,
button,
textarea,
input,
select {
  outline-offset: 2px;
  @apply focus:outline-2 focus:outline-amber-600 appearance-none;
}

input,
select {
  @apply rounded-default w-full min-w-20 sm:min-w-24 px-2 h-9 border bg-primary border-primary-border disabled:opacity-45;
}

button {
  @apply rounded-default cursor-pointer flex text-nowrap justify-center items-center border px-3 h-9 transition-colors uppercase disabled:cursor-not-allowed disabled:opacity-45;
}

button.btn-primary {
  @apply border-primary-border bg-primary hover:bg-primary/80 text-primary-foreground disabled:bg-primary;
}

button.btn-success {
  @apply border-success-border bg-success hover:bg-success/80 text-success-foreground disabled:bg-success;
}

button.btn-error {
  @apply border-error-border bg-error hover:bg-error/80 text-error-foreground disabled:bg-error;
}

:root {
  --primary-foreground: var(--color-zinc-900);
  --primary: var(--color-zinc-300);
  --primary-border: var(--color-zinc-400);

  --success-foreground: var(--color-lime-100);
  --success: var(--color-lime-600);
  --success-border: var(--color-lime-700);

  --error-foreground: var(--color-rose-100);
  --error: var(--color-red-600);
  --error-border: var(--color-red-700);

  --background: var(--color-zinc-100);
  --foreground: var(--color-zinc-900);

  --radius: 0.45rem;
}

.dark {
  --primary-foreground: var(--color-zinc-100);
  --primary: var(--color-zinc-600);
  --primary-border: var(--color-zinc-700);

  --background: var(--color-zinc-800);
  --foreground: var(--color-zinc-100);
}

@theme inline {
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-border: var(--primary-border);

  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-success-border: var(--success-border);

  --color-error-foreground: var(--error-foreground);
  --color-error: var(--error);
  --color-error-border: var(--error-border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --radius-default: calc(var(--radius) - 4px);
}

body {
  @apply bg-background text-foreground;
}
